.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

#root {
  background-color: rgb(252, 89, 143);
}

.divnavbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(235, 90, 138, 0.801);
  width: 100%;
  height: 3.4rem;
  padding-top: 8px;
  padding-bottom: 25px;
  margin-bottom: 0;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding-right: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

h1 {
  color: #fff;
  width: 90%;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.h1b {
  font-size: 2rem;
}

h2 {
  margin-left: 5%;
  color: #fff;
}

p {
  color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
  font-size: 1.2rem;
}

.under {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #fff;
  width: 50px;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 8px;
  margin-left: 0;
  padding-left: 0;
  text-shadow: 1px 1px rgb(158, 158, 158);
}

a:hover,
a:active {
  color: #ffb8e6;
  font-weight: 600;
}

.navlink {
  width: 15%;
  text-align: center;
}

.divider {
  width: 15%;
}

ul {
  width: 90%;
  list-style: none;
  margin: 10px auto 0 auto;
  padding: 0;
  height: 300px;
}

li {
  margin: 0 5px 2px 5px;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1px solid #474747;
  border-radius: 4px;
}

li:hover {
  background-color: rgb(172, 61, 98);
}

li:nth-child(odd) {
  background-color: rgb(209, 81, 124);
}

li:nth-child(odd):hover {
  background-color: rgb(172, 61, 98);
}

.white {
  color: #fff;
}

.divschoollist {
  background-color: rgb(252, 89, 143);
  height: 100vh;
  overflow-y: auto;
}

.container {
  height: 50%;
  overflow-y: auto;
}

.divhome {
  background-color: rgb(252, 89, 143);
  min-height: 100vh;
}

.sitename {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px rgb(158, 158, 158);
}

.lato {
  font-family: 'Lato', sans-serif;
}

.gillsans {
  font-family: 'Gill Sans', sans-serif;
}

.divsearch {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 8px auto 15px auto;
}

input {
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid #646464;
  width: 20rem;
}

button {
  background-color: #fff;
  color: #646464;
  font-size: 1rem;
  padding: 1px 12px;
  border-radius: 4px;
  border: 1px solid #646464;
}

button:hover {
  background-color: #d1d1d1;
  color: #646464;
  font-weight: bold;
}

.divdetails {
  height: 100%;
}

.subtitles {
  color: #ffb8e6;
}

.biggertext {
  font-size: 2rem;
}

.grid {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.schoolname {
  font-size: 1.5rem;
}

.boroheading {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;
  text-shadow: 1px 1px rgb(158, 158, 158);
}

.imgcard {
  display: flex;
  flex-direction: column;
}

.imagek:hover,
.imagem:hover,
.imagex:hover,
.imageq:hover,
.imager:hover {
  background-color: #ffb8e6;
  border-radius: 8px;
  cursor: pointer;
}

.styleless {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.by {
  margin-left: 5%;
}

.acknowledge {
  margin-right: 5%;
  text-align: right;
}

.back {
  margin-left: 5%;
}

/* MOBILE vERSION */
@media only screen and (max-width: 375px) {
  .divnavbar {
    height: 2.4rem;
    padding-top: 8px;
    padding-bottom: 25px;
    margin-bottom: 1rem;
  }

  .sitename {
    padding-top: 0.3rem;
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    width: 50px;
    font-size: 0.9rem;
    font-weight: normal;
    padding-top: 8px;
    margin-left: 0;
    padding-left: 0;
    text-shadow: 1px 1px rgb(158, 158, 158);
  }

  a:hover,
  a:active {
    color: #ffb8e6;
    font-weight: 600;
  }

  .divider {
    width: 5%;
  }

  h1 {
    color: #fff;
    width: 90%;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .h1b {
    font-size: 1.2rem;
  }

  .biggertext {
    font-size: 1.5rem;
  }

  .schoolname {
    font-size: 1.2rem;
  }

  input {
    font-size: 0.9rem;
    width: 12rem;
  }

  button {
    font-size: 0.9rem;
    padding: 1px 10px;
  }

  .back {
    margin-left: 5%;
  }
}
